{{ define "main" }}

{{- $profile := site.Params.profileMode }}
{{- with $profile }}
<div class="profile home-hero">
    <div class="profile_inner">
        <h1>{{ .title | default site.Title | markdownify }}</h1>
        <span class="profile-subtitle">{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" site.Params }}
        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            {{- $url := trim .url " " }}
            {{- $isAbs := (findRE "://" $url) }}
            <a class="button" href="{{ if $isAbs }}{{ $url }}{{ else }}{{ $url | relURL }}{{ end }}" rel="noopener" title="{{ .name }}">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}
    </div>
</div>
{{- end }}

<header class="page-header home-section-header">
    <h1>最新文章</h1>
</header>

{{- $mainSections := site.Params.mainSections | default (slice "posts") }}
{{- $pages := where site.RegularPages "Type" "in" $mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true" }}
{{- $totalPages := len $pages }}

{{- range first 5 $pages }}
<article class="post-entry">
    <header class="entry-header">
        <h2 class="entry-hint-parent">
            {{ .Title }}
            {{- if .Draft }}
            <span class="entry-hint" title="Draft">
                <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" fill="currentColor">
                    <path d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
                </svg>
            </span>
            {{- end }}
        </h2>
    </header>
    {{- if (ne (.Param "hideSummary") true) }}
    <div class="entry-content">
        <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">
        {{- partial "post_meta.html" . -}}
    </footer>
    {{- end }}
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $totalPages 5 }}
<footer class="page-footer">
    <nav class="pagination">
        <a class="next" href="{{ "posts/" | relURL }}">查看更多文章 »</a>
    </nav>
</footer>
{{- end }}

{{ end }}
